@model InventarySystem.Models.ViewModels.KardexInventoryVM
@using InventarySystem.Utilities
@{
    ViewData["Title"] = "KardexProductResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Kardex by Product";
}

<div class="container">
    <div class="col-12 border-bottom p-0">
        <h2 class="text-primary">@title</h2>
    </div>

    <div class="row">
        <div class="col-10">
            <div class="row mb-2">
                <div class="form-group-lg col-md-8 mt-2">
                    <label>
                        <strong class="m-2">From:</strong>@Model.StartDate.ToShortDateString() 
                        <strong class="m-2">To:</strong> @Model.EndDate.ToShortDateString()
                    </label>
                </div>
            </div>
            <div class="row mb-2">
                <div class="form-group col-md-8 mt-2">
                    <label>
                        <strong class="m-2">Product:</strong> @Model.Product.Description
                    </label>
                </div>
            </div>
        </div>
        <div class="col-2">
            <img src="@DS.ImagePath@Model.Product.ImageUrl" style="border-radius:15px; width:100px; height:100px" />
        </div>
        <div class="row mb-2">
            <div class="form-group col-md-3 mt-2">
                <a asp-action="KardexProduct" class="btn btn-outline-primary">New Query</a>
                <a asp-action="PrintKardex"
                   asp-route-startDate="@Model.StartDate"
                   asp-route-endDate="@Model.EndDate"
                    asp-route-productId="@Model.Product.Id" class="btn btn-primary">
                    <i class="bi bi-printer"></i> Print
                </a>
                <a asp-action="Index" class="btn btn-primary">Exit</a>
            </div>
        </div>
    </div>

    <table class="table table-responsive table-hover table-bordered">
        @foreach(var store in Model.KardexInventoryList.GroupBy(x => x.StoreProduct.Store.Name))
        {
            <thead class="table-secondary">
                <tr>
                    <th colspan="6">@store.Key</th>
                    <th colspan="3" class="text-center">Balance</th>
                </tr>
                <tr>
                    <th class="text-center">Date</th>
                    <th class="text-center">Type</th>
                    <th class="text-center">Detail</th>
                    <th class="text-center">Previous Stock</th>
                    <th class="text-center">Entry</th>
                    <th class="text-center">Exit</th>
                    <th class="text-center">Stock</th>
                    <th class="text-center">Cost</th>
                    <th class="text-center">Total</th>
                </tr>
            </thead>
            @foreach (var datos in Model.KardexInventoryList.Where(d => d.StoreProduct.Store.Name == store.Key))
            {
                <tr>
                    <td class="text-center">@datos.RegisterDate.ToShortDateString()</td>
                    <td class="text-center">@datos.Type</td>
                    <td>@datos.Details</td>
                    <td class="text-center">@datos.PreviousStock</td>
                    @if(datos.Type == "Entrty")
                    {
                        <td class="text-center">@datos.Amount</td>
                    }
                    else
                    {
                        <td class="text-center">--</td>
                    }
                    @if(datos.Type == "Exit")
                    {
                        <td class="text-center">@datos.Amount</td>
                    }
                    else
                    {
                        <td class="text-center">--</td>
                    }
                    <td class="text-center">@datos.Stock</td>
                    <td class="text-center">@datos.Cost</td>
                    <td class="text-center">@datos.Total</td>
                </tr>
            }
        }
    </table>

    @if(Model.KardexInventoryList.Count() == 0)
    {
        <div class="col-12 border-bottom p-0">
            <h3 class="text-primary text-center">There aren't data to show</h3>
        </div>
    }
</div>

